<nav>
    <div class="nav-l">
        <a href="/"><%= site_conf.site.name %></a>
    </div>
    <div class="nav-r">
        <shrink class="onportrait">
            <%- Macro.riawt("/pages/server","fa-solid fa-server","服务器") -%>
            <% if(site_conf.types.wiki.enabled){ %> <%- Macro.riawt("/pages/wiki/","fa-solid fa-books","维基") -%> <% } %>
            <% if(site_conf.types.blog.enabled){ %> <%- Macro.riawt("/pages/blog","fa-solid fa-blog","博客") -%> <% } %>
            <%- Macro.riawt("/pages/aboutus/","fa-solid fa-circle-info","关于") %>
        </shrink>
    </div>
</nav>